{% extends 'RUser/design.html' %}
{% block userblock %}

<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background-color:#000000;}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;}
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
			input,textarea{
			font-family:Aldrich;
			font-size:15px;
			}
		.style1 {
	color: #FF0000;
	font-weight: bold;
}
.style4 {color: #FFFF00; font-weight: bold; }
        </style>

	<body>
	<div class="container-fluid">
		<div class="container">

			<div class="row">
				<div class="col-md-5">
 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p class="text-uppercase pull-center style1">CREATE YOUR OWN TWEET !!! </p>
                            <hr>

                                {% csrf_token %}
                                <table>
									<tr>
										<td bgcolor="#FF0000"><span class="style4">User Name</span></td>
                                        <td><input type="text" name="uname" value="{{objc}}" readonly></td>
                                    </tr>
									<tr>
										<td bgcolor="#FF0000"><span class="style4">Tweet Name</span></td>
                                        <td><input type="text" name="tname" required></td>
                                    </tr>
									<tr>
										<td bgcolor="#FF0000"><span class="style4">Uses</span></td>
                                        <td><input type="text" name="uses" required></td>
                                    </tr>
                                    <tr>
										<td bgcolor="#FF0000"><span class="style4">Description</span></td>
                                        <td><textarea name="tdesc" cols="40" rows="4"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td><input type="submit" class="style1"></td>
                                    </tr>
                        </table>





						</fieldset>
					</form>
				</div>


				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}